<%unless params[:render] == 'modal'%>
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-3">
			<h2>
				<% if content_for? :header %>
					<%= yield  :header %>
				<% end %>
			</h2>
			<ol class="breadcrumb">
				<li>
					<%= link_to root_path do %>
						<%= I18n.t("home") %>
					<% end %>
				</li>
				<% if content_for? :breadcumb %>
					<%= yield  :breadcumb %>
				<% end %>
			</ol>
		</div>
		<div class="col-lg-9">
			<div class="pull-right">
				<% unless @crud_helper.layout[1].present? and @crud_helper.layout[1].call() and @crud_helper.layout[0] == "escopo_lateral" %>
					<% if content_for? :scopes %>
						<%= yield  :scopes %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
<% if content_for? :corpo %>
	<%= yield :corpo %>
<% end %>
<% if content_for? :modal %>
	<%= yield  :modal %>
<% end %>